.overlay-logo {

    position: absolute;
    bottom: 20px;
    left: 20px;
}



.video-container video {
    width: 100%;
    display: block;
}

/*adds overlay to the video*/
.video-container:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}




.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .overlay-desc {
        top: 100px !important;
    }
}

.span-wrapper {
    font-size: 100px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}



/*play/pause button*/
.fa-circle-play,
.fa-circle-pause {

    color: rgba(255, 255, 255, 0.35);
    font-size: 65px;

}